<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Take a buddy and spend time</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="container">
        <div id="header">Шапка сайта</div>
        <div id="navigation">
            <nav>
                <ul>
                    <li><a href="/login">LogIn in app</a></li>>
                    <li><a href="">Another page</a></li>>
                </ul>
            </nav>
        </div>
        <div id="menu"></div>
        <div id="content"></div>
        <div id="footer"></div>
    </div>
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
</body>>
</html>
