{% extends 'bootstrap/base.html' %}

{% block title %}
    Find a BUDDY and spend time
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">BUDDY app</a>
            </div>

            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('index') }}}">Главная</a></li>

                    {% if is_auth %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="#">Вторая страница</a></li>
                    <li><a href="{{ url_for('login') }}">Логин</a></li>
                    <li><a href="{{ url_for('registration') }}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>>
{% endblock %}

{% block content %}
    <p>content</p>

    {% block app_content %}
        <p> parent </p>
    {% endblock %}
{% endblock %}
